* {
  margin:0;
  padding:0;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

img {
  max-width: 100%;
}

.image-container {
  padding: 0 25%;
}

.login-page {
  background-color: #303032;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.login-container {
  background-color: #212529;
}

.social-login-container, .email-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.social-button, .login-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}